<div *ngIf="weatherforcast; else LOADING">
    <h2>WETHERFORCAST:</h2>
    <table>
        <thead>
        <tr>
            <th>time</th>
            <th>temperature_2m</th>
            <th>relative_humidity_2m</th>
            <th>wind_speed_10m</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let val of weatherforcast.hourly.temperature_2m; let i = index">
            <td>{{weatherforcast.hourly.time[i]}}</td>
            <td>{{weatherforcast.hourly.temperature_2m[i]}}</td>
            <td>{{weatherforcast.hourly.relative_humidity_2m[i]}}</td>
            <td>{{weatherforcast.hourly.wind_speed_10m[i]}}</td>
        </tr>
        </tbody>
    </table>

</div>

<ng-template #LOADING>
    loading...
</ng-template>
