<h1>STATIC CONTENT</h1>
<p>This is static content. It will not change ever during build times.</p>

<div *ngIf="content">
    <h2>{{content.heading}}</h2>
    <h3>{{content.summary}}</h3>
    <p>{{content.body}}</p>
</div>