<div *ngIf="posts; else LOADING">
    <h2>POSTS:</h2>
    <ul *ngFor="let post of posts">
        <li>
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
        </li>
    </ul>
</div>

<ng-template #LOADING>
    loading...
</ng-template>